<div>
    <table>
        <tr>
            <td>User ID</td>
            <td>
                <input [(ngModel)]="UserModel.Userid" type="text">
            </td>
        </tr>
        <tr>
            <td>User Name</td>
            <td>
                <input [(ngModel)]="UserModel.UserName" type="text">
            </td>
        </tr>
        <tr>
            <td>User Password</td>
            <td>
                <input [(ngModel)]="UserModel.UserPassword" type="text">
            </td>
        </tr>
        <input style="background-color: green" type="submit" (click)="AddUser()">
    </table>
</div>

<table style="background-color: purple; color: blanchedalmond; margin-top: 5px;" border="2">
    <tr>
        <td style="padding: 5px; border: 2px solid black;">User ID</td>
        <td style="padding: 5px; border: 2px solid black;">User Name</td>
        <td style="padding: 5px; border: 2px solid black;">User Password</td>
        <td style="padding: 5px; border: 2px solid black;">Actions</td>
    </tr>
    <tr *ngFor="let item of UserModels">
        <td style="border: 5; padding: 10px;">
            {{item.Userid}}
        </td>
        <td style="border: 5; padding: 10px;">
            {{item.UserName}}
        </td>
        <td style="border: 5; padding: 10px;">
            {{item.UserPassword}}
        </td>
        <!-- <td>
            <input style="background-color: yellowgreen; margin: 2px;" type="button" value="Edit" (click)="EditUser(item)" />
            <input style="background-color: red; margin: 2px;" type="button" value="Delete" (click)="DeleteUser(item)" />
        </td> -->
    </tr>
</table>       