<img src="../../assets/image 1.webp" style="width: 100%;" class="d-block w-100" alt="...">
<!-- <div class="App">
    <h4>Login</h4>
    <div class="div_mail">
        <input type="username" placeholder="Enter Email-ID" />
    </div>     -->
    <!-- <div class="div_pass">
        <input type="password" placeholder="Enter Password" required='true'/>
    </div>
    <div class="user">
        <Link to ="/home"><button class="btn btnstyle" style="background-color: rgb(204, 15, 204, 0.726); color: white; font-weight:600;" type="submit">Login</button></Link> <br/>
        <div class="user"> <p>Don't have account?
            <a class="mylink"><Link to="/signup"> Signup here</Link></a></p>
        </div>
    </div>
</div> -->
<!-- <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../assets/accessories-collection.png" style="width: 100%;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">  
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/men-collection.png" style="width: 100%;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">     
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/women-collection.png" style="width: 100%;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">         
        </div>
      </div>
    </div>
</div> -->